<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kfintech.protect.sample" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SecurityCheckerDemo</name>
    <description>Security Checker Demo Application</description>
    <author email="dev@kfintech.com" href="http://kfintech.com">
        KFintech Team
    </author>
    <content src="index.html" />
    
    <platform name="android">
        <!-- Configure security checks to use warning mode -->
        <preference name="TREAT_ROOT_AS_WARNING" value="true" />
        <preference name="TREAT_DEVELOPER_OPTIONS_AS_WARNING" value="true" />
        <preference name="TREAT_MALWARE_AS_WARNING" value="true" />
        <preference name="TREAT_TAMPERING_AS_WARNING" value="true" />
    </platform>
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
