<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-security-checker"
    version="1.0.0">
    
    <name>SecurityChecker</name>
    <description>Cordova plugin for security checks with configurable warning/critical behaviors</description>
    
    <js-module src="www/securitychecker.js" name="SecurityChecker">
        <clobbers target="SecurityChecker" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="SecurityChecker">
                <param name="android-package" value="com.webileapps.safeguard.cordova.SecurityCheckerPlugin"/>
            </feature>
            
            <!-- Security Check States: ERROR, WARNING, or DISABLED -->
            <preference name="ROOT_CHECK_STATE" value="ERROR" />
            <preference name="DEVELOPER_OPTIONS_CHECK_STATE" value="WARNING" />
            <preference name="MALWARE_CHECK_STATE" value="WARNING" />
            <preference name="TAMPERING_CHECK_STATE" value="WARNING" />
            <preference name="NETWORK_SECURITY_CHECK_STATE" value="WARNING" />
            <preference name="SCREEN_SHARING_CHECK_STATE" value="WARNING" />
            <preference name="APP_SPOOFING_CHECK_STATE" value="WARNING" />
            <preference name="KEYLOGGER_CHECK_STATE" value="WARNING" />
        </config-file>
        
        <source-file src="src/android/SecurityCheckerPlugin.java" 
                     target-dir="src/com/webileapps/safeguard/cordova" />
                     
        <framework src="protect" type="gradleReference" />
    </platform>
</plugin>
